*{
	margin: 0;
	padding: 0;
}

.container{
	width: 1140px;
	margin: auto;
}

.header{
	width: 100%;
}

.nav{
	width: 100%;
	float: left;
	padding: 12px 0px;
}
.logo{
	width: 11%;
	float: left;
}
.menu{
	width: 89%;
	float: left;
	line-height: 46px;
	text-align: right;
	font-family: 'Poppins', sans-serif;

}
.logo img{

}

.menu ul li{
 		list-style: none;
 		display: inline-block;
 		margin-right: 12px;
}

.menu ul li a{
			text-decoration: none;
			color: #3b506c;
}

.banner{
	width: 100%;

}

.banner-text{
	width: 100%;
	padding: 150px 0;
	text-align: center;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}
span{
	color: #008aff;
}

.banner-text p{
	font-size: 16px;
}

.banner-text img{
	margin-top: 60px;
	width: 50%
}

.nav2{
	width: 100%;
	float: left;
}
.left-section{
	width: 40%;
	float: left;
	text-align: right;
	padding: 40px;
	font-family: 'Poppins', sans-serif;
}
.right-section{
	width: 40%;
	float: left;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	line-height: 70px;
	padding: 40px;
}
.left-section h1{
	font-size: 49px;
	color: #f15767
}
.right-section h1{
	font-size: 49px;
	color: #3b506c;
}

.bottom-nav{
	width: 100%;
	float: left;
	margin-top: 10px;
	font-family: 'Poppins', sans-serif;
	margin-left: 30px;
}
.bottom1{
	width: 30.3333%;
	float: left;
	background-color: #fdebed;
	margin-right: 20px;
}
.bottom2{
	width: 30.3333%;
	float: left;
	background-color: #ebf9f4;
	margin-right: 20px;
}
.bottom3{
	width: 30.3333%;
	float: left;
	background-color: #fff7e8;
	margin-right: 20px;
	
}

.bottom1 img{
	width: 100%;
}
.bottom1 h3{
	padding: 10px 30px 10px 10px;
}
.bottom1 p{
	padding: 10px 30px 10px 10px;
}
.bottom2 img{
	width: 100%;
	margin-top: 23px;
}
.bottom2 h3{
	padding: 10px 30px 10px 10px;
}
.bottom2 p{
	padding: 10px 30px 10px 10px;
	
}
.bottom3 img{
	width: 100%;
}
.bottom3 h3{
	padding: 10px 30px 10px 10px;
}
.bottom3 p{
	padding: 10px 30px 10px 10px;
}

p{
	width: 100%;
}
.bottom{
	width: 100%;
	float: left;
}
.bottom p{
	width: 100%;
	float: left;
	text-align: center;
	background: #008aff;
	color: white;
	padding: 40px 0;
	margin-top: 20px;
}